<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider de Amor ❤️</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="slider-container">
        <button id="prevBtn" class="slider-btn">&#10094;</button>
        <div class="slider">
            <div class="slide">
                <img src="/img/457496454_955514846344340_2364739620183576293_n.jpg" alt="Imagem 1">
                <p class="caption">"O amor verdadeiro ilumina até os dias mais escuros."</p>
            </div>
            <div class="slide">
                <img src="/img/472312706_916129467168776_1749313679869206864_n.jpg" alt="Imagem 2">
                <p class="caption">"Em cada batida do meu coração, só há espaço para você."</p>
            </div>
            <div class="slide">
                <img src="/img/475931668_923227592928905_8033948837943277303_n.jpg" alt="Imagem 3">
                <p class="caption">"O melhor lugar do mundo é dentro do seu abraço."</p>
            </div>
            <div class="slide">
                <img src="/img/476489366_1933502933725217_7496051257186855376_n.jpg" alt="Imagem 4">
                <p class="caption">"Com você, cada momento é um lindo poema de amor."</p>
            </div>
        </div>
        <button id="nextBtn" class="slider-btn">&#10095;</button>
    </section>

    <script src="scripts.js"></script>
</body>
</html>
